<h1>{{title}}</h1>
<form action="/update" method="POST">
    <label for="jsonLink">Lien vers mon JSON de résumé :</label>
    <input type="text" id="jsonLink" name="teaLink" required>
    <button type="submit">Update</button>
</form>
